.gordon {
            width: 500px; height: auto;
        }
.main-ul
        {
            font-weight: bold;
        }
.description {
        font-weight: bold;
     }
.top
{
    color: black;
    background-color: rgb(94, 228, 94);
}
.main-page
{
    color: red;
    background-color: rgb(94, 228, 94);
}